# Node / React Native
node_modules/
.expo/
.expo-shared/
npm-debug.*
yarn-debug.*
yarn-error.*
web-build/
dist/
npm

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
*.db
*.sqlite
*.sqlite3

# IDE / OS
.DS_Store
Thumbs.db
.vscode/
.idea/

# Dynamic User Uploads
backend/app/static/uploads/avatars/*
!backend/app/static/uploads/avatars/.gitkeep
admin/uploads/avatars/*
!admin/uploads/avatars/.gitkeep

